{% extends 'layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <section class="contact_section layout_padding mt-0 pt-5">
        <div class="container">

            <!-- titre de la page-->
            <div class="heading_container mb-0 pb-0">
                <h2>
                    Inscription d'un nouvel utilisateur
                </h2>
            </div>

            <div class="">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        {{ form_start(ParticipantForm) }}
                        <div class="contact_form-container">

                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <label>Nom : </label>
                                    {{ form_widget(ParticipantForm.nom) }}
                                    {{ form_errors(ParticipantForm.nom) }}
                                </div>

                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <label>Prénom : </label>
                                    {{ form_widget(ParticipantForm.prenom) }}
                                    {{ form_errors(ParticipantForm.prenom) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <label>Téléphone : </label>
                                    {{ form_widget(ParticipantForm.telephone) }}
                                    {{ form_errors(ParticipantForm.telephone) }}
                                </div>

                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <label>E-mail : : </label>
                                    {{ form_widget(ParticipantForm.mail) }}
                                    {{ form_errors(ParticipantForm.mail) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <label>Nom du site : </label>
                                    {{ form_widget(ParticipantForm.site) }}
                                    {{ form_errors(ParticipantForm.site) }}
                                </div>
                                <div class="col-12">
                                    <label>Administrateur : </label>
                                    {{ form_widget(ParticipantForm.administrateur) }}
                                    {{ form_errors(ParticipantForm.administrateur) }}
                                </div>
                            </div>
                            <div class="d-flex justify-content-center ">
                                <div>
                                    <button class="bouton1">Register</button>
                                </div>
                            </div>
                            {{ form_end(ParticipantForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
