{% extends 'layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Inscription d'un nouvel utilisateur</h1>
    {{ form_start(ParticipantForm) }}
    {{ form_label(ParticipantForm.nom) }}
    {{ form_widget(ParticipantForm.nom) }}
    {{ form_errors(ParticipantForm.nom) }}

    {{ form_label(ParticipantForm.prenom) }}
    {{ form_widget(ParticipantForm.prenom) }}
    {{ form_errors(ParticipantForm.prenom) }}

    {{ form_label(ParticipantForm.telephone) }}
    {{ form_widget(ParticipantForm.telephone) }}
    {{ form_errors(ParticipantForm.telephone) }}

    {{ form_label(ParticipantForm.mail) }}
    {{ form_widget(ParticipantForm.mail) }}
    {{ form_errors(ParticipantForm.mail) }}

    {{ form_label(ParticipantForm.site) }}
    {{ form_widget(ParticipantForm.site) }}
    {{ form_errors(ParticipantForm.site) }}

    <button class="btn">Register</button>

    {{ form_end(ParticipantForm) }}

{% endblock %}
