{% extends 'layout.html.twig' %}

{% block title %}
    Page d'accueil
{% endblock %}

{% block body %}
    {% set i = 0 %}
<div class="row">
    {%  for label, messages in app.flashes %}
        {% for message in messages %}

            <div class="alert-{{ label }}"> {{ message }}</div>
        {%  endfor %}
    {%  endfor %}
</div>
    <div class="filtrer" style="float: left;">
        <h5>Filtrer les sorties</h5>
    </div>
    <form action="{{ path('accueil') }}" method="post">
        <label for="site">Site :</label>
        <select>
            {% for site in sites %}
                <option id="site_{{ site.id }}" value="{{ site.id }}">
                    {{ site.nom }}
                </option>
            {% endfor %}
        </select>

        <div class="wrap-input1" style="width: 425px">
            <label for="nom_sortie">Le nom de la sortie contient :</label>
            <input type="text"
                   class="input1 form-control"
                   placeholder="search" id="nom"
                   name="nom_sortie">
            <span class="shadow-input1"></span>
        </div>
        <div class="wrap-input1" style="width: 425px">
            <label for="date_debut">Entre :</label>
            <input type="date"
                   class="input1 form-control"
                   id="date_debut"
                   name="date_debut">
            <span class="shadow-input1"></span>
        </div>
        <div class="wrap-input1" style="width: 425px">
            <label for="date_fin">et :</label>
            <input type="date"
                   class="input1 form-control"
                   id="date_fin"
                   name="date_fin">
            <span class="shadow-input1"></span>
        </div>
        <div class="col">
            <input type="checkbox" name="organisateur" value="organisateur"> <label for="organisateur">Sorties dont je
                suis l'organisateur/trice</label><br>
            <input type="checkbox" name="inscrit" value="inscrit"> <label for="inscrit">Sorties auxquels je suis
                inscrit/e</label><br>
            <input type="checkbox" name="pas_inscrit" value="pas_inscrit"> <label for="pas_inscrit">Sorties auxquels je
                ne suis pas inscrit/e</label><br>
            <input type="checkbox" name="passees" value="passees"> <label for="passees">Sorties passées</label><br>
        </div>
        <div class="container-contact1-form-btn">
            <button type="submit" class="contact1-form-btn"
                    name="rechercher" style="float: right; width: 425px;">Rechercher
            </button>
        </div>

        <div class="container table-wrapper-scroll-y my-custom-scrollbar"
             style="position: relative; height: 200px; width: 100%; overflow: auto">

            <br>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>clôture</th>
                    <th>Inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="corps_tableau">
                {% include 'main/tableauAccueil.html.twig' %}
                </tbody>
            </table>
        </div>

        <div class="container-contact1-form-btn">
            <button type="submit" class="contact1-form-btn"
                    name="creer" style="float: left; width: 425px;">Créer une sortie
            </button>
        </div>
    </form>

{% endblock %}

{% block javascripts %}
    <script>
        function selected() {
            document.getElementById("site_{{ user.site.id }}").setAttribute('selected', 'selected')
        }

        selected();

        document.querySelector("select").addEventListener("change", function () {
            $.ajax({
                url: "http://localhost/sortie/public/",
                data: {'id_site': this.value}
            }).done(function (response) {
                document.getElementById("corps_tableau").innerHTML = response;
            });
        }, false);

    </script>
{% endblock %}