{% for sortie in sorties %}
    <tr>
        <td>{{ sortie.nom }}</td>
        <td>{{ sortie.dateHeureDebut | date('d/m/Y h:i') }}</td>
        <td>{{ sortie.dateLimiteInscription | date('d/m/Y h:i') }}</td>
        <td>{{ sortie.participants | length }} / {{ sortie.nbInscriptionMax }}</td>
        <td>{{ sortie.etat.libelle }}</td>
        <td>
            {% if sortie.participants | length is same as (0) %}

            {% else %}
                {% for participant in sortie.participants %}
                    {% if participant is same as (user) %}
                        X
                    {% endif %}
                {% endfor %}
            {% endif %}
        </td>
        <td>
            <a href="{{ path('afficherprofil', {'id': sortie.participant.id }) }}">
                {% if sortie.participant.pseudo is not null %}
                    {{ sortie.participant.pseudo }}
                {% else %}
                    {{ sortie.participant.prenom }} {{ sortie.participant.nom|first }}.
                {% endif %}
            </a>
        </td>
        <td>
            {% if sortie.etat.libelle is same as ('Archivé') %}
            {% else %}
                {% if sortie.participant is same as (user) %}
                    {% if sortie.etat.libelle is same as ('Créé') %}
                        modifier -- publier
                    {% else %}
                        afficher -- annuler
                    {% endif %}
                {% else %}
                    {% for participant in sortie.participants %}
                        {% set inscrit = false %}
                        {% if participant is same as (user) %}
                            {% set inscrit = true %}
                        {% endif %}
                    {% endfor %}
                    {% if inscrit is same as (true) %}
                        afficher -- se désister
                    {% else %}
                        afficher -- s'inscrire
                    {% endif %}
                {% endif %}
            {% endif %}
        </td>
    </tr>
{% endfor %}

