{% for sortie in sorties %}
    {% if not (sortie.etat.libelle is same as ('Archivé')) %}     {# Si la sortie est archivée, elle ne doit pas apparaître. #}
        {# Ci-dessous: la sortie apparait dans le tableau si l'utilisateur en est l'organisateur, ou si il ne l'est pas mais
        qu'alors la sortie a été publiée. #}
        {% if (sortie.participant is same as (user)) or
            (not (sortie.participant is same as (user)) and
            not (sortie.etat.libelle is same as ('Créé'))) %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date('d/m/Y h:i') }}</td>
                <td>{{ sortie.dateLimiteInscription|date('d/m/Y h:i') }}</td>
                <td>{{ sortie.participants|length }} / {{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>
                    {# Une croix est placée dans cette colonne si l'utilsateur est inscrit à la sortie. #}
                    {% if not (sortie.participants|length is same as (0)) %}
                        {% for participant in sortie.participants %}
                            {% if participant is same as (user) %}
                                X
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('afficherprofil', {'id': sortie.participant.id }) }}">
                        {% if sortie.participant.pseudo is not null %}
                            {{ sortie.participant.pseudo }}
                        {% else %}
                            {{ sortie.participant.prenom }} {{ sortie.participant.nom|first }}.
                        {% endif %}
                    </a>
                </td>
                <td>
                    {% if sortie.participant is same as (user) %}       {# Si l'utilisateur est l'organisateur de la sortie : #}
                        {% if sortie.etat.libelle is same as ('Créé') %}
                            modifier -- publier
                        {% else %}
                            afficher -- annuler
                        {% endif %}
                    {% else %}          {# Si l'utilisateur N'est PAS l'organisateur de la sortie : #}
                        {% set inscrit = false %}       {# On crée un booléen 'inscrit' pour tenir compte si l'utilisateur est quelque part dans le tableau 'sortie.participants' #}
                        {% for participant in sortie.participants %}
                            {% if participant is same as (user) %}      {# On cherche si l'utilisateur est dans la liste des participants inscrits. #}
                                {% set inscrit = true %}
                            {% endif %}
                        {% endfor %}
                        {% if inscrit %}      {# Si l'utilisateur est inscrit, l'option 'se désister' apparaît. #}
                            afficher -- se désister
                        {% else %}          {# Sinon, on vérifie ensuite qu'il y a la possibilité de pouvoir s'inscrire, c'est-à-dire que la sortie n'est pas remplie ou clo^turée. #}
                            {% if (sortie.nbInscriptionMax <= sortie.participants|length) or (sortie.dateLimiteInscription > "now"|date("Y-m-d")) %}
                                afficher
                            {% else %}
                                afficher -- s'inscrire
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endif %}
{% endfor %}

