{% extends 'layout.html.twig' %}

{% block body %}

    <div style="text-align:center; margin: 30px">
    <h1>Mon profil</h1>
    </div>

    <!-- affichage des messages d'erreur ci-dessous : -->
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(ModifProfilForm, {label_attr: {class: 'contact1-form align-items-sm-center justify-content-center'}}) }}

    <div class="wrap-input1 validate-input">
    {{ form_label(ModifProfilForm.pseudo) }}
    {{ form_widget(ModifProfilForm.pseudo, {'attr': {'class': 'input1'} }) }}
    {{ form_errors(ModifProfilForm.pseudo) }}
        <span class="shadow-input1"></span>
    </div>

    <div class="wrap-input1 validate-input">
    {{ form_label(ModifProfilForm.nom) }}
    {{ form_widget(ModifProfilForm.nom, {'attr': {'class': 'input1'} }) }}
    {{ form_errors(ModifProfilForm.nom) }}
        <span class="shadow-input1"></span>
    </div>

    <div class="wrap-input1 validate-input">
    {{ form_label(ModifProfilForm.prenom) }}
    {{ form_widget(ModifProfilForm.prenom, {'attr': {'class': 'input1'} }) }}
    {{ form_errors(ModifProfilForm.prenom) }}
        <span class="shadow-input1"></span>
    </div>

    <div class="wrap-input1 validate-input">
    {{ form_label(ModifProfilForm.telephone) }}
    {{ form_widget(ModifProfilForm.telephone, {'attr': {'class': 'input1'} }) }}
    {{ form_errors(ModifProfilForm.telephone) }}
        <span class="shadow-input1"></span>
    </div>

    <div class="wrap-input1 validate-input">
    {{ form_label(ModifProfilForm.mail) }}
    {{ form_widget(ModifProfilForm.mail, {'attr': {'class': 'input1'} }) }}
    {{ form_errors(ModifProfilForm.mail) }}
        <span class="shadow-input1"></span>
    </div>

    <div class="wrap-input1 validate-input">
    {{ form_label(ModifProfilForm.password) }}
    {{ form_widget(ModifProfilForm.password, {'attr': {'class': 'input1'} }) }}
    {{ form_errors(ModifProfilForm.password) }}
        <span class="shadow-input1"></span>
    </div>

    <div class="wrap-input1 validate-input">
    {{ form_label(ModifProfilForm.site) }}
    {{ form_widget(ModifProfilForm.site, {'attr': {'class': 'input1'} }) }}
    {{ form_errors(ModifProfilForm.site) }}
        <span class="shadow-input1"></span>
    </div>

    <div class="wrap-input1 validate-input">
    {{ form_label(ModifProfilForm.photo) }}
    {{ form_widget(ModifProfilForm.photo) }}
    {{ form_errors(ModifProfilForm.photo) }}
        <span class="shadow-input1"></span>
    </div>

    <div class="container-contact1-form-btn" style="margin-top: 20px" >
        {{ form_widget(ModifProfilForm.save, { 'label': 'Enregistrer', 'attr': {'class': 'contact1-form-btn btn-enregistrer', 'style': ''}  }) }}
        <span class="espace"></span>
        {{ form_widget(ModifProfilForm.cancel, { 'label': 'Annuler', 'attr': {'class': 'contact1-form-btn btn-annuler', 'style' : ''}  }) }}
        <span class="espace"></span>
    </div>

    {{ form_end(ModifProfilForm) }}

{% endblock %}