{% extends 'layout.html.twig' %}

{% block body %}

    <!--
        <span class="contact1-form-title">
    Get in touch
    </span>-->

    {{ form_start(sortieFormView, {label_attr: {class: 'contact1-form validate-form'}}) }}

    <div class="row">
        <div class="col-sm-12 col-md-6">

            <div class="wrap-input1 validate-input" data-validate="Date limite d'inscrptions est requise">
                {{ form_label(sortieFormView.dateLimiteInscription) }}
                {{ form_widget(sortieFormView.dateLimiteInscription, {'attr': {'class': 'input1', 'placeholder':'Date limite'} }) }}
                {{ form_widget(sortieFormView.dateLimiteInscription, {'attr': {'class': 'input1', 'placeholder':'Date limite'} }) }}
                {{ form_errors(sortieFormView.dateLimiteInscription) }}
                <span class="shadow-input1"></span>
            </div>
                {{ form_label(sortieFormView.nom) }}
                {{ form_widget(sortieFormView.nom, {'attr': {'class': 'input1'} }) }}
                {{ form_errors(sortieFormView.nom) }}
            <span class="shadow-input1"></span>

            <div class="wrap-input1 validate-input" data-validate="Date limite d'inscrptions est requise">
                {{ form_label(sortieFormView.dateLimiteInscription) }}
                {{ form_widget(sortieFormView.dateLimiteInscription, {'attr': {'class': 'input1', 'placeholder':'Date limite'} }) }}
                {{ form_widget(sortieFormView.dateLimiteInscription, {'attr': {'class': 'input1', 'placeholder':'Date limite'} }) }}
                {{ form_errors(sortieFormView.dateLimiteInscription) }}
                <span class="shadow-input1"></span>
            </div>
                {{ form_label(sortieFormView.dateLimiteInscription) }}
                {{ form_widget(sortieFormView.dateLimiteInscription, {'attr': {'class': 'input1'} }) }}
                {{ form_errors(sortieFormView.dateLimiteInscription) }}
            <span class="shadow-input1"></span>

            <div class="wrap-input1 validate-input" data-validate="Le champ durée est requis">
                {{ form_label(sortieFormView.duree) }}
                {{ form_widget(sortieFormView.duree, {'attr': {'class': 'input1', 'placeholder':'Durée'} }) }}
                {{ form_errors(sortieFormView.duree) }}
                <span class="shadow-input1"></span>
            </div>
            <div class="wrap-input1 validate-input" data-validate="Le nombre maximal d'inscriptions est requis">
                {{ form_label(sortieFormView.nbInscriptionMax) }}
                {{ form_widget(sortieFormView.nbInscriptionMax, {'attr': {'class': 'input1', 'placeholder':'Nombre maximal d\'inscriptions'} }) }}
                {{ form_errors(sortieFormView.nbInscriptionMax) }}
                <span class="shadow-input1"></span>
            </div>
            <div class="wrap-input1 validate-input">
                {{ form_label(sortieFormView.infosSortie) }}
                {{ form_widget(sortieFormView.infosSortie, {'attr': {'class': 'input1', 'rows': '100', 'cols': '50'} }) }}
                {{ form_errors(sortieFormView.infosSortie) }}
                <span class="shadow-input1"></span>
            </div>
        </div>



    <div class="col-sm-12 col-md-6">


    </div>
    </div>







    <div class="wrap-input1 validate-input">
        {{ form_label(sortieFormView.lieuListe) }}
        {{ form_widget(sortieFormView.lieuListe) }}
        {{ form_errors(sortieFormView.lieuListe) }}
        <span class="shadow-input1"></span>
    </div>



    {{ form_end(sortieFormView) }}


    <script>
        let legend = document.getElementsByTagName("legend");
        for (let legendElement of legend) {
            legendElement.textContent = "";
        }

        let buttonEnregistrer = document.getElementById('sortie_creer');
        let buttonCreer = document.getElementById('sortie_publier');
        buttonEnregistrer.setAttribute('class', 'contact1-form-btn');
        buttonCreer.setAttribute('class', 'contact1-form-btn');
        let btnAnnuler = document.getElementById('sortie_annuler');
        let route = "{{ path('accueil') }}";
        btnAnnuler.setAttribute("onclick", route);
        // , 'onclick'=> "window.location.href='https://w3docs.com'"

        let formControlClass = document.getElementsByClassName('form-control');
        for (let formControlElt of formControlClass) {
            formControlElt.classList += " input1"; //wrap-input1  / wrap-input1
        }

        let formGroupClass = document.getElementsByClassName('form-group');
        for (let formGroupElt of formGroupClass) {
            formGroupElt.classList += " wrap-input1 "; //wrap-input1  / wrap-input1
        }

        let divSortieLieu = document.getElementById('sortie_lieu');
        divSortieLieu.setAttribute('class', 'wrap-input1');

        let divSortieSite = document.getElementById('sortie_site');
        // divSortieSite.setAttribute('class', 'wrap-input1');
    </script>

{% endblock %}

{% block title %}
    Créer une sortie
{% endblock %}

