{% extends 'layout.html.twig ' %}

{% block body %}

<section class="contact_section layout_padding mt-0 pt-5">
    <div class="container">

            <!-- titre de la page-->
            <div class="heading_container mb-0 pb-0">
                <h2>
                    Créer une sortie
                </h2>
            </div>

            <div class="">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        {{ form_start(sortieFormView, {label_attr: {class: ''}}) }}
                            <div class="contact_form-container">
                                <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="mt-3">
                                        <label>Nom de la sortie : </label>
                                        {{ form_widget(sortieFormView.nom, {'attr': {'class': ''} }) }}
                                        {{ form_errors(sortieFormView.nom) }}
                                    </div>
                                    <div class="mt-3">
                                        <label>Date limite d'inscriptions :</label>
                                        {{ form_widget(sortieFormView.dateLimiteInscription, {'attr': {'class': ''} }) }}
                                        {{ form_errors(sortieFormView.dateLimiteInscription) }}
                                    </div>
                                    <div class="mt-3">
                                        <label>Date et heure de la sortie : </label>
                                        {{ form_widget(sortieFormView.dateHeureDebut, {'attr': {'class': ''} }) }}
                                        {{ form_errors(sortieFormView.dateHeureDebut) }}
                                    </div>
                                    <div class="mt-3">
                                        <label>Nombre de places : </label>
                                        {{ form_widget(sortieFormView.nbInscriptionMax, {'attr': {'class': ''} }) }}
                                        {{ form_errors(sortieFormView.nbInscriptionMax) }}
                                    </div>
                                    <div class="mt-3">
                                        <label>Durée (minutes) : </label>
                                        {{ form_widget(sortieFormView.duree, {'attr': {'class': ''} }) }}
                                        {{ form_errors(sortieFormView.duree) }}
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="mt-3">
                                        <label>Ville organisatrice : </label>
                                        <input type="text" value="{{ site.nom }}" disabled>
                                    </div>

                                    <div class="mt-3">
                                        <label>Lieu : </label>
                                        <div class="row">
                                            <div class="col-9">
                                                {{ form_widget(sortieFormView.lieu, {'attr': {'class': ''} })}}
                                                {{ form_errors(sortieFormView.lieu) }}
                                            </div>
                                            <div class="col-2">
                                                <i class="fa fa-plus-square fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-3">
                                        <label>Descriptions et infos : </label>
                                        {{ form_widget(sortieFormView.infosSortie, {'attr': {'class': '', 'rows': '6', 'cols': '5'} }) }}
                                        {{ form_errors(sortieFormView.infosSortie) }}
                                    </div>
                                </div>
                            </div>

                                <div class="d-flex justify-content-center ">
                                     <!-- boutons -->
                                        <div class="ml-1 mr-1">
                                            {{ form_widget(sortieFormView.creer, { 'label': 'Créer', 'attr': {'class': 'bouton1'}  }) }}
                                        </div>
                                        <div class="ml-1 mr-1">
                                            {{ form_widget(sortieFormView.publier, { 'label': 'Publier', 'attr': {'class': 'bouton1'}  }) }}
                                        </div>
                                        <div class="ml-1 mr-1">
                                            <a class="bouton1" href="{{ path('accueil') }}">Annuler</a>
                                        </div>

                                </div>
                            </div>
                        {{ form_end(sortieFormView) }}
                    </div>
                </div>
            </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="ajout_lieu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="contact_form-container" style="padding: 0; margin : 0">

               <div class="row">
                   <div class="col-5">
                        <h4 style="margin-top: 20px;margin-left: 20px;">Définir un lieu</h4>
                   </div>
                   <div class="col-3 offset-4">
                        <button type="button"  data-dismiss="modal" aria-label="Close" style="background-color: #0fcfdc; color: white; border:none; border-radius: 5px; width: 50px; height: 50px; outline:none">
                            <span aria-hidden="true" class="">&times;</span>
                        </button>
                   </div>
               </div>
                <div class="modal-body">
            <div class="col-8 offset-2">
                    {{ form_start(lieuFormView) }}
                        <div class="mt-3">
                            <label>Nom du lieu: </label>
                            {{ form_widget(lieuFormView.nom) }}
                            {{ form_errors(lieuFormView.nom) }}
                        </div>
                        <div class="mt-3">
                            <label>Rue : </label>
                            {{ form_widget(lieuFormView.rue) }}
                            {{ form_errors(lieuFormView.rue) }}
                        </div>

                        <div class="mt-3">
                            <label>Ville : </label>
                            {{ form_widget(lieuFormView.villeListe) }}
                            {{ form_errors(lieuFormView.villeListe) }}
                        </div>

                        <div class="mt-3">
                            <label>Définir une nouvelle ville : </label>
                            {{ form_widget(lieuFormView.ville.nom, {'attr': {'placeholder' : 'nom ville'}}) }}
                            {{ form_errors(lieuFormView.ville.nom) }}

                            {{ form_widget(lieuFormView.ville.codePostal, {'attr': {'placeholder' : 'code postal'}}) }}
                            {{ form_errors(lieuFormView.ville.codePostal) }}
                        </div>

                        <div class="d-flex justify-content-around">
                            <button type="button" class="bouton1" id="save_lieu_btn" data-dismiss="modal">Enregistrer</button>
                            <button type="button" class="bouton1" data-dismiss="modal">Retour</button>
                        </div>

                    {{ form_end(lieuFormView) }}
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>

</section>

    <script>

        $('.fa-plus-square').click(function(e) {
            console.log('clic')
            e.preventDefault();
            $('#ajout_lieu').modal();
        });

        $("#save_lieu_btn").click(function(){

            $.ajax({
                //à cette url... voir le contrôleur !
                url: "{{ url('lieu_ajout')}}",
                data : $("#ajout_lieu form").serialize()
            })
                //lorsque la requête sera terminée, cette fct se déclenchera
                .done(function(response){

                    $option = document.createElement('option');
                    $option.setAttribute('value', response.id);
                    $option.textContent = response.nom;
                    $option.setAttribute('selected', 'true');
                    $select = document.getElementsByTagName('select')[0];
                    $select.appendChild($option);
                    console.log($option);


                });
        });

        let legend = document.getElementsByTagName("legend");
        for (let legendElement of legend) {
            legendElement.textContent = "";
        }

        let requiredLieu = document.querySelectorAll('*[id^="sortie_lieu"]');
        for(let requiredELt of requiredLieu){
            if(requiredELt.hasAttribute('required')){
               requiredELt.removeAttribute('required');
            }
        }

        let labels = document.getElementsByTagName("label");
        for(let label of labels){
            if(label.classList.contains("required")){
                label.classList.remove("required");
            }


        }

        let textAreaElt = document.getElementsByTagName("textarea")[0];
        if(textAreaElt.hasAttribute("required")){
            textAreaElt.removeAttribute('required');
        }

    </script>

{% endblock %}

{% block title %}
    Créer une sortie
{% endblock %}

