{% extends 'layout.html.twig ' %}

{% block title %}
afficher une sortie
{% endblock %}

{% block body %}

    <section class="contact_section layout_padding mt-0 pt-5">
        <div class="container">

            <div class="row mb-2">
                {% set i = 0 %}
                {%  for label, messages in app.flashes %}
                    {% for message in messages %}
                    <div class="alert alert-{{ label }} mx-auto" role="alert">
                        {{ message }}
                    </div>
                    {%  endfor %}
                {%  endfor %}
            </div>


            <div class="heading_container">
                <h2>{{ sortie.nom }}</h2>
                <h5>détails de la sortie</h5>
            </div>
            <div>
                <div class="row">
                    <div class="col-10 col-sm-10 col-md-12 col-lg-6">
                        <div class="row">
                            <div class="col-6">Organisateur : </div>
                            <div class="col-6"><a href="{{ path('afficherprofil', {'id': sortie.participant.id }) }}">{{ sortie.participant.prenom }} {{ sortie.participant.nom }}</a></div>
                        </div>
                        <div class="row">
                            <div class="col-6">Etat : </div>
                            <div class="col-6">{{ sortie.etat.libelle }}</div>
                        </div>
                        <div class="row">
                            <div class="col-6">Date de la sortie : </div>
                            <div class="col-6">{{ sortie.dateHeureDebut|date("d/m/Y H:i:s") }}</div>
                        </div>
                        <div class="row">
                            <div class="col-6">Date limite d'inscriptions : </div>
                            <div class="col-6">{{ sortie.dateLimiteInscription|date("d/m/Y H:i:s") }}</div>
                        </div>
                        <div class="row">
                            <div class="col-6">Nombre de places : </div>
                            <div class="col-6">{{ sortie.nbInscriptionMax}} place(s)</div>
                        </div>
                        <div class="row">
                            <div class="col-6">Durée : </div>
                            <div class="col-6">{{ sortie.duree }} minutes </div>
                        </div>
                        <div class="row">
                            {% if sortie.infosSortie is not null %}
                                <div class="col-6">Informations complémentaires : </div>
                                <div class="col-6">{{ sortie.infosSortie }}</div>
                            {% endif %}
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">Ville organisatrice : </div>
                            <div class="col-6">{{ sortie.site.nom }}</div>
                        </div>
                        <div class="row">
                            <div class="col-6">Lieu : </div>
                            <div class="col-6">{{ sortie.lieu.nom }}</div>
                        </div>
                        <div class="row">
                            <div class="col-6">Adresse : </div>
                            <div class="col-6">{{ sortie.lieu.rue }}</div>
                            <div class="col-6"></div>
                            <div class="col-6">{{ sortie.lieu.ville.codePostal }}   {{ sortie.lieu.ville.nom }}</div>
                        </div>


                        <div class="row mt-5">
                            <div class="row mx-auto">
                                <h6 class="font-weight-bold">Liste des participants </h6>
                            </div>
                            <table class="table table-striped mt-1 mb-2">
                                <thead>
                                <tr>
                                    <th>Pseudo</th>
                                    <th>Nom</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% if sortie.participants|length is same as(0) %}
                                    <tr>
                                        <td colspan="2">
                                            <p>Aucun participant inscrit.</p>
                                        </td>
                                    </tr>
                                {% else %}
                                    {% for participant in sortie.participants %}
                                        <tr>
                                            <td>
                                                {% if participant.pseudo is not null %}
                                                    {{ participant.pseudo }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ participant.prenom }}  {{ participant.nom }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="row d-flex justify-content-center" style="display: flex; flex-direction: column">
                            <div class="row mt-5">
                                <div class="mx-auto">
                                     <h6 class="font-weight-bold">Géolocalisation</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="box mx-auto" id="map_box">
                                    <div id="map" style='width: 400px; height: 300px;'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mx-auto">
                    {% if sortie.participant.mail is same as(app.user.mail)
                        and sortie.etat.libelle is same as(constant('\\App\\Constantes\\EtatConstantes::CREE'))
                        and sortie.dateLimiteInscription|date("d/m/Y H:i:s") >"now"|date("d/m/Y H:i:s")
                    %}
                        <a href="{{ path('sortie_modifsortie', {'id': sortie.id}) }}" class="ml-1 mr-1 bouton1">
                            Modifier
                        </a>
                    {% endif %}

                    {% if sortie.participant.mail is same as(app.user.mail)
                        and (sortie.etat.libelle is same as(constant('\\App\\Constantes\\EtatConstantes::OUVERT')) or sortie.etat.libelle is same as(constant('\\App\\Constantes\\EtatConstantes::CLOTURE')))
                        and (sortie.dateHeureDebut("d/m/Y H:i:s") > "now"|date("d/m/Y H:i:s"))
                    %}
                        <a class="ml-1 mr-1 bouton1" href="{{ path('sortie_annuler', {'id': sortie.id}) }}">Annulation</a>
                    {% endif %}


                     {% if sortie.dateLimiteInscription|date("d/m/Y H:i:s") >"now"|date("d/m/Y H:i:s")
                         and sortie.etat.libelle is same as(constant('\\App\\Constantes\\EtatConstantes::OUVERT'))
                         and sortie.participant.mail is not same as(app.user.mail)
                         and app.user not in sortie.participants%}
                            <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}" class="ml-1 mr-1 bouton1 ">
                                S'inscrire
                            </a>
                    {% endif %}

                    {% if sortie.dateHeureDebut|date("d/m/Y H:i:s") >"now"|date("d/m/Y H:i:s")
                        and (sortie.etat.libelle is same as(constant('\\App\\Constantes\\EtatConstantes::OUVERT')) or sortie.etat.libelle is same as(constant('\\App\\Constantes\\EtatConstantes::CLOTURE')))
                        and sortie.participant.mail is not same as(app.user.mail)
                        and app.user in sortie.participants
                    %}
                        <a href="{{ path('sortie_desister', {'id': sortie.id}) }}" class="ml-1 mr-1 bouton1 ">
                            Désister
                        </a>
                    {% endif %}
                    <a href="{{ path('sortie_messorties') }}" class="ml-1 mr-1 bouton1">Retour</a>
                </div>
            </div>
        </div>
    </section>


    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoiam9hc2lhcCIsImEiOiJjazZtOTV4bW4wbGxhM2RwNmRlZHBvbjBpIn0.4-XJs7JCPnxZQYslNrwH8A';
        var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
        mapboxClient.geocoding
            .forwardGeocode({
                query: '{{ sortie.lieu.rue }}, {{ sortie.lieu.ville.nom }}, France',
                autocomplete: false,
                limit: 1
            })
            .send()
            .then(function(response) {
                if (
                    response &&
                    response.body &&
                    response.body.features &&
                    response.body.features.length
                ) {
                    var feature = response.body.features[0];

                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v11',
                        center: feature.center,
                        zoom: 10
                    });
                    new mapboxgl.Marker().setLngLat(feature.center).addTo(map);
                }
            });
    </script>


{% endblock %}

