{% extends 'layout.html.twig ' %}

{% block body %}


<section class="contact_section layout_padding mt-0 pt-5">
    <div class="container">

        <!-- titre de la page-->
        <div class="heading_container mb-0 pb-0">
            <h2>
                Modifier une sortie
            </h2>
        </div>
<!--value="{{ sortieFormView.vars.data.nom }}" -->
        <div class="">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    {{ form_start(sortieFormView) }}
                    <div class="contact_form-container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="mt-3">
                                    <label>Nom de la sortie : </label>
                                    {{ form_widget(sortieFormView.nom) }}
                                    {{ form_errors(sortieFormView.nom) }}
                                </div>
                                <div class="mt-3">
                                    <label>Date limite d'inscription :</label>
                                    {{ form_widget(sortieFormView.dateLimiteInscription, {'attr': {'class': ''} }) }}
                                    {{ form_errors(sortieFormView.dateLimiteInscription) }}
                                </div>
                                <div class="mt-3">
                                    <label>Date et heure de la sortie : </label>
                                    {{ form_widget(sortieFormView.dateHeureDebut, {'attr': {'class': ''} }) }}
                                    {{ form_errors(sortieFormView.dateHeureDebut) }}
                                </div>
                                <div class="mt-3">
                                    <label>Nombre de places : </label>
                                    {{ form_widget(sortieFormView.nbInscriptionMax, {'attr': {'class': ''} }) }}
                                    {{ form_errors(sortieFormView.nbInscriptionMax) }}
                                </div>
                                <div class="mt-3">
                                    <label>Durée (minutes) : </label>
                                    {{ form_widget(sortieFormView.duree, {'attr': {'class': ''} }) }}
                                    {{ form_errors(sortieFormView.duree) }}
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="mt-3">
                                    <label>Ville organisatrice : </label>
                                    <input type="text" value="{{ site.nom }}">
                                </div>

                                <div class="mt-3">
                                    <label>Lieu : </label>
                                    <div class="row">
                                        <div class="col-9">
                                            {#
                                            <select class="form-control" id="supervisor">
                                                {% for lieu in sortieFormView.lieuListe %}
                                                    <p>ff</p>
                                                    {% set selected = '' %}
                                                    {% if lieu.nom == sortieFormView.nom %}
                                                        {% set selected = 'selected' %}
                                                    {% endif %}
                                                    <option value="{{ lieu.nom }}" {{ selected }}>--</option>
                                                {% endfor %}
                                            </select>
#}
                                            {{ form_widget(sortieFormView.lieuListe, {'attr': {'class': ''} })}}
                                            {{ form_errors(sortieFormView.lieuListe) }}
                                        </div>
                                        <div class="col-2">
                                            <i class="fa fa-plus-square fa-2x" ></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <label>Descriptions et infos : </label>
                                    {{ form_widget(sortieFormView.infosSortie, {'attr': {'class': '', 'rows': '6', 'cols': '5'} }) }}
                                    {{ form_errors(sortieFormView.infosSortie) }}
                                </div>

                            </div>

                        </div>

                        <div class="d-flex justify-content-center ">
                            <!-- boutons -->
                            <div class="ml-1 mr-1">
                                {{ form_widget(sortieFormView.creer, { 'label': 'Enregistrer', 'attr': {'class': 'bouton1'}  }) }}
                            </div>
                            <div class="ml-1 mr-1">
                                {{ form_widget(sortieFormView.publier, { 'label': 'Publier', 'attr': {'class': 'bouton1'}  }) }}
                            </div>
                            <div class="ml-1 mr-1">
                              {#  <a class="bouton1" href="{{ path('sortie_supprimer', {'id': sortieModifiee.id}) }}">Supprimer</a>#}
                            </div>
                            <div class="ml-1 mr-1">
                                <a class="bouton1" href="{{ path('accueil') }}">Annuler</a>
                            </div>
                        </div>
                    </div>
                    {{ form_end(sortieFormView) }}
                </div>
            </div>
        </div>
    </div>
</section>






<script>

    let listeLieu = document.getElementById('sortie_lieuListe');
    let villeListe = document.getElementById('sortie_lieu_villeListe');
    let nomLieu = document.getElementById('sortie_lieu_nom');
    let rue = document.getElementById('sortie_lieu_rue');
    let ville = document.getElementById('sortie_lieu_ville_nom');
    let codePostal = document.getElementById('sortie_lieu_ville_codePostal');
    let selectElts = document.querySelectorAll('select');

    let bckInputColor = '#e6e6e6';
/*
    listeLieu.setAttribute('onchange', 'disableLieux()')
    villeListe.setAttribute('onchange', 'disableVille()')


    function disableVille() {
        if(villeListe.options[villeListe.selectedIndex].value==0){
            ville.disabled=false;
            ville.setAttribute('style', 'background-color:'+bckInputColor);
        }else{
            ville.disabled=true;
            ville.setAttribute('style', 'background-color: #AFEEEE');
        }
    }
*/

    function disableLieux() {
        if(listeLieu.options[listeLieu.selectedIndex].value==0){
          /*  villeListe.disabled=false;
            nomLieu.disabled=false;
            rue.disabled=false;
            ville.disabled=false;
            codePostal.disabled=false;*/

            /*villeListe.setAttribute('style', 'background-color:'+bckInputColor);
            nomLieu.setAttribute('style', 'background-color:'+bckInputColor);
            rue.setAttribute('style', 'background-color:'+bckInputColor);
            ville.setAttribute('style', 'background-color:'+bckInputColor);
            codePostal.setAttribute('style', 'background-color:'+bckInputColor);*/
        }
        else{
            /*
            villeListe.disabled=true;
            nomLieu.disabled=true;
            rue.disabled=true;
            ville.disabled=true;
            codePostal.disabled=true;

            villeListe.setAttribute('style', 'background-color: #AFEEEE');
            nomLieu.setAttribute('style', 'background-color: #AFEEEE');
            rue.setAttribute('style', 'background-color: #AFEEEE');
            ville.setAttribute('style', 'background-color: #AFEEEE');
            codePostal.setAttribute('style', 'background-color: #AFEEEE');*/
        }
    }


    let legend = document.getElementsByTagName("legend");
    for (let legendElement of legend) {
        legendElement.textContent = "";
    }

    let requiredLieu = document.querySelectorAll('*[id^="sortie_lieu"]');
    for(let requiredELt of requiredLieu){
        console.log(requiredELt);
        if(requiredELt.hasAttribute('required')){
            requiredELt.removeAttribute('required');
        }
    }

    let labels = document.getElementsByTagName("label");
    for(let label of labels){
        if(label.classList.contains("required")){
            label.classList.remove("required");
        }


    }



    let textAreaElt = document.getElementsByTagName("textarea")[0];
    if(textAreaElt.hasAttribute("required")){
        textAreaElt.removeAttribute('required');
    }

    /*  $.ajax({
          url: " " // route qui va utiliser cette ajax, elle va dans un cotnroller, donc il faut créer une fonction dans un URL
      }); //pour faire une requette ajax : param : url a laquelle je veux faire une requette ajax
*/
</script>

{% endblock %}

{% block title %}
    Modifier une sortie
{% endblock %}

