<div class="row"></div>
<nav class="navbar navbar-expand-lg custom_nav-container ">
    {% if app.user %}
        <a class="navbar-brand" href="{{ path('accueil') }}">
            <span id="titrePage">Sortir.com</span>
        </a>
    {% else %}
        <a class="navbar-brand" href="{{ path('login') }}">
            <span id="titrePage">Sortir.com</span>
        </a>
    {% endif %}

    <button class="navbar-toggler" style="outline: none" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">

                {% if app.user %}
                {% if app.user.getRoles is same as (['ROLE_ADMIN']) %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administrateur
                        </a>
                        <div class="dropdown-menu" style="background-color: #F8F8F8;"> <!-- aria-labelledby="navbarDropdownMenuLink" -->
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link" class="dropdown-item" style="text-align: left;" href="{{ path('site_index') }}">Sites</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" class="dropdown-item" style="text-align: left;" href="{{ path('ville_index') }}">Villes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" class="dropdown-item" style="text-align: left;" href="{{ path('register') }}">Créer un compte</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" class="dropdown-item" style="text-align: left;" href="{{ path('liste_participants') }}">Liste des
                                    utilisateurs</a>
                            </li>

                        </ul>
                        </div>
                    </li>



                {% endif %}


                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('sortie_add') }}">Créer une sortie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('sortie_messorties') }}">Mes sorties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('afficherprofil', {'id': app.user.id}) }}">Mon profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}">Se déconnecter</a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Se connecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<script>
    function displayList() {

        if (document.getElementById("admin_list_1").style.display == 'none') {
            console.log("montrer");
            console.log(document.getElementById("admin_list_1").style.display);
            document.getElementById("admin_list_1").style.display = 'block';
        } else {
            console.log("cacher");
            console.log(document.getElementById("admin_list_1").style.display);
            document.getElementById("admin_list_1").style.display = 'none';
        }

    }
</script>