{% extends 'layout.html.twig' %}

{% block title %}Gestionnaire des villes{% endblock %}

{% block body %}

    <h1>Gérer les villes</h1>
    <h2>Filtrer les villes</h2>

    <div class="container-contact1-form-btn">
        <form method="POST" action="{{ path('ville_filter') }}">
            <div class="row">
                <div class="col-7">
                    <input id="input_filter" type="text" name="ville_filter" placeholder="Rechercher une ville" class="input1" style="margin-top: 6px" required>
                </div>
                <div class="col-5">
                    <button type="submit" class="btn contact1-form-btn bouton1 mx-auto">Rechercher</button>
                </div>
            </div>
        </form>
    </div>

    <br>

    <div class="container table-wrapper-scroll-y my-custom-scrollbar"
         style="position: relative; height: 200px; width: 700px; overflow: auto">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if villes is same as([]) %}
                <tr>
                    <td colspan="3">
                        <p>Aucune ville correspondant aux critères de recherche n'a été trouvée.</p>
                    </td>
                </tr>
            {% else %}
                {% for ville in villes %}
                    <tr>
                        <td>
                            {{ ville.nom }}
                        </td>
                        <td>
                            {{ ville.codePostal }}
                        </td>
                        <td>
                            <a href="" onclick='openForm("{{ ville.nom }}", "{{ ville.codePostal }}"); return false'>
                                Modifier</a> - <a
                                    href="{{ path('ville_delete', {'nom': ville.nom}) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        {{ form_start(villeForm) }}
                        {{ form_label(villeForm.nom) }}
                        {{ form_widget(villeForm.nom, {'attr': {'class': 'input1', 'placeholder': 'Ville'} }) }}
                        {{ form_errors(villeForm.nom) }}
                    </td>
                    <td>
                        {{ form_label(villeForm.codePostal) }}
                        {{ form_widget(villeForm.codePostal, {'attr': {'class': 'input1', 'placeholder': 'Code postal'} }) }}
                        {{ form_errors(villeForm.codePostal) }}
                    </td>
                    <td>
                        <button class="btn contact1-form-btn bouton1 mx-auto" style="margin-top: 27px; margin-left: 20px">Ajouter
                        </button>
                        {{ form_end(villeForm) }}
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <br>

    <div class="form-popup" id="myForm">
        <form action="{{ path('ville_modify') }}" method="POST" class="form-container">
            <div class="row" >
                <label for="ville"><b>Ville à modifier : </b></label>
                <input id="input_nom" type="text" name="ville_modify" class="input1" placeholder="Ville" required>
                <input id="input_nom_hidden" type="text" name="ville_hidden" style="display:none">

                <label for="cp"><b>Code postal à modifier : </b></label>
                <input id="input_cp" type="text" name="cp_modify" class="input1" placeholder="Code postal" required>
                <input id="input_cp_hidden" type="text" name="cp_hidden" style="display:none">

                <button type="submit" class="btn contact1-form-btn bouton1 mx-auto">Enregistrer</button>
                <button type="button" id="close" class="btn contact1-form-btn bouton1 mx-auto" style="margin-left: 10px" onclick="closeForm()">Close</button>
            </div>
        </form>
    </div>
    <br>

    <!-- affichage des messages d'erreur ci-dessous : -->
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script>
        function openForm(nom, cp) {
            document.getElementById("myForm").style.display = "block";
            document.getElementById("input_nom").value = nom;
            document.getElementById("input_nom_hidden").setAttribute("value", nom);
            document.getElementById("input_cp").value = cp;
            document.getElementById("input_cp_hidden").setAttribute("value", cp);
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }

        closeForm();
    </script>
{% endblock %}