<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/util.css') }}">

    <title>{% block title %}Layout{% endblock %}</title>
    <style>


    </style>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: dodgerblue;">

    <a class="navbar-brand " href="{{ path('accueil') }}">Accueil</a>

    {% if app.user %}

        <a class="navbar-brand " href="{{ path('logout') }}">Se déconnecter</a>
     {% else %}
        <a class="navbar-brand" href="{{ path('login') }}">Se connecter</a>
    {% endif %}
</nav>
<main>
<div class="container-fluid">
    {% block body %}Layout{% endblock %}
</div>
</main>
<div>
<footer class="page-footer font-small blue" >
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a id="a_footer" href="https://www.eni-ecole.fr/">    www.eni-ecole.fr   </a>
    </div>
</footer>
</div>
</body>
</html>

