<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.css') }}" />

    <!-- fonts style -->
   <!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet" />
    <title>{% block title %}Layout{% endblock %}</title>
    <style>
        .bouton1{
            display: inline-block;
            padding: 10px 30px;
            background-color: #0fcfdc;
            border-radius: 5px;
            color: white;
            text-align: center;
            align-self: center;
            margin-top: 30px;
        }

        .bouton1:hover {
            background-color:#0fcfdc;
        }
        #map_box{
            border: 2px solid #0fcfdc;
            border-radius: 5px;
        }

        .detail-box {
            border: 1px solid #0fcfdc;
            margin: 5px 2px 5px 2px;
            text-align: center;
            padding: 1px;
        }

        .fa-plus-square{
            color: #0fcfdc;
        }

        .fa-plus-square:hover {
            color: #2a2132
        }

        p{
            font-family: 'Poppins', sans-serif;
        }

        .detail-box {

        }

        .detail-box a{
            display: inline-block;
            padding: 5px 10px;
            background-color: black;
            color: white;
            border-radius: 40px;
            text-transform: uppercase;
            margin-top: 10px;
        }
    </style>
</head>
<body class="sub_page">
<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-11 offset-lg-1">
{% include 'includes/navbar.html.twig' %}
                </div>
            </div>

        </div>
    </header>
</div>
<div class="row ml-0 mr-0 d.flex flex-row-reverse " style="background-color: #F8F8F8;">
    {% if app.user %}
        <p class="mr-1 mb-0 pb-1 pt-1 align-self-center">
            Bienvenue <span class="font-weight-bold">{{ app.user.prenom }} {{ app.user.nom }}</span>!
            Date du jour : <span class="font-weight-bold">{{ 'now'|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</span>
        </p>
    {% endif %}
</div>


<main>
    <div class="container-fluid">
        {% block body %}Layout{% endblock %}
    </div>
</main>



{% block javascripts %}{% endblock %}
{% include 'includes/footer.html.twig' %}
</body>
</html>

